.p-bg-white{background-color:#FFF;}
.p-bg-187{background-color:#BB0505;}
.p-bg-F2{background-color: #F2F2F2;}
.p-col-187{color:#BB0505;}
.p-col-34{color:#222222;}
.p-col-42{color:#2A2A2A;}
.p-col-54{color:#363636;}
.p-col-67{color:#434343;}
.p-col-160{color:#A0A0A0;}
.p-col-0118{color:#0076FF;}
.p-col-255173{color:#FF8900;}
.p-col-26127{color:#1A7F2F;}
.p-col-216216{color:#D8D8D8;}
.p-col-160{color:#A0A0A0;}
.p-col-fff{color:#FFF;}
.p-ft-12{font-size: 12px}
.p-ft-13{font-size: 13px}
.p-ft-14{font-size: 14px}
.p-ft-15{font-size: 15px}
.p-ft-16{font-size: 16px}
.p-ft-17{font-size: 17px}
.p-lnhght-13{line-height:13px }
.p-lnhght-14{line-height:14px }
.p-lnhght-15{line-height:15px }
.p-lnhght-16{line-height:16px }
.p-lnhght-17{line-height:17px }
.p-lnhght-18{line-height:18px }
.p-lnhght-25{line-height:25px }
.p-lnhght-30{line-height:30px }
.p-lnhght-48{line-height:48px }
.p-pointer{cursor: pointer;}
.p-border-bottom{border-bottom: 1px solid #E2E2E2}
.p-border-187{border:1px solid #BB0505;}
.p-border-202{border:1px solid #CACACA;}
